<div id="comment-form">
  <h3 id="post-comment-title">Post a Comment</h3>

  <%= form_for [ @post, @comment ] do |f| %>

    <%= f.text_area :body, id: "comment-field", placeholder: "Share your thoughts..." %>
    <br>
    <%= f.submit "Comment", id: "comment-submit" %>

  <% end %>
</div>