<div>
  <h4>
    Comment by: <%= User.find(comment.user_id).first_name + " " + User.find(comment.user_id).last_name %>
  </h4>

  <p class="comment"><%= comment.body %></p>

  <% if current_user.id == comment.user_id %>
    <%= link_to "Edit", edit_post_comment_path(@post.id, comment.id) %>
    <%= link_to "Delete", post_comment_path(@post.id, comment.id), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</div>