* {
  font-family: 'Assistant', sans-serif;
}

body {
  background-color: rgb(15, 15, 15);
  margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, a, th, tr, label, li, i, em, span, div {
  color: rgb(173, 173, 173);
}

#bg {
  margin-top: 86px;
}

/* Nav bar */
#navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 7%;
  top: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(15, 87, 77);
  padding: 10px;
  margin: 0px;
}

#nav-avatar {
  margin: 0 auto;
  padding: 0px;
  border: 0px;
}

#quick-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.qlinks {
  margin: 0px;
  padding-top: 20px;
}

.qlinks:hover {
  background: rgb(0, 116, 102);
  color: white;
}

.qlinks a {
  text-decoration: none;
}

#nav-new-post {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
}

#plus-pic {
  margin-top: 22px;
  padding-left: 10px;
}

#nav-post-link {
  margin-top: 20px;
  margin-left: 5px;
  text-align: left;
  text-decoration: none;
}

#np-link-do {
  text-decoration: none;
}

#np-link-do:hover {
  background: rgb(0, 116, 102);
  color: white;
}

#profile-nav-links {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2.5fr 1fr;
  text-align: left;
  align-items: center;
}

#nav-user-div {
  position: relative;
  display: inline-block;
}

#user-drp-dwn {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
}

#user-drp-dwn:hover {
  background-color: rgb(30, 136, 122);
}

#user-drp-dwn-content {
  display: none;
  position: absolute;
  background-color: rgb(11, 51, 46);
  min-width: 165px;
  z-index: 2;
}

.user-drp-links {
  font-size: 25px;
  padding: 10px;
}

.user-drp-links:hover {
  color: white;
}

#user-drp-dwn-content a {
  text-decoration: none;
  display: block;
}

#nav-user-div:hover #user-drp-dwn-content {
  display: block;
}

#user-drp-dwn-content a:hover {
  background-color: rgb(30, 136, 122);
}

#nav-pro-pic {
  margin-top: 9px;
  align-items: flex-end;
  margin-left: 10px;
}

#nav-pro-pic img {
  display: block;
  margin-left: auto;
  padding-right: 5px;
}

#logged-as {
  margin-top: 7px;
  padding: 5px;
}

#nav-user-name {
  font-size: 27px;
  text-decoration: none;
  margin-left: 5px;
}

#noti-drp-dwn {
  position: relative;
  display: inline-block;
  margin-top: 19px;
}

#noti-drp-dwn:hover #noti-content {
  display: block;
}

#noti-content {
  display: none;
  position: absolute;
  width: 200px;
  z-index: 2;
  background-color: rgb(11, 51, 46);
  border: 1px solid rgb(107, 194, 168);
}

#noti-content a {
  text-decoration: none;
  display: block;
}

#noti-content a:hover {
  background-color: rgb(22, 102, 93);
  color: white;
}

.noti-link {
  color: white;
  padding: 10px;
  font-size: 20px;
}

/* Notice (flash) */
.notice { 
  width: 100%;
  font-size: 25px;
  background-color: rgb(107, 194, 168);
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0px;
}

.alert {
  width: 100%;
  font-size: 25px;
  background-color: rgb(107, 194, 168);
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0px;
}

/* Post index page */
#index-grid-div {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 70px;
}

.index-post-container {
  background-color: rgb(11, 51, 46);
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 40px;
  height: fit-content;
}

.index-user-info {
  text-align: left;
  display: grid;
  grid-template-columns: 0.1fr 0.3fr 2fr 0.4fr;
  background-color: rgb(15, 87, 77);
  padding: 5px;
}

.index-avatar {
  padding: 0px;
  margin: 0px;
  border: 0px;
  margin-top: 7px;
}

.index-linkto-user {
  text-decoration: none;
  font-size: 20px;
  margin-top: 14px;
}

.index-owner-options {
  margin-top: 7px;
  position: relative;
  display: inline-block;
}

.index-dropdown-content {
  display: none;
  position: absolute;
  min-width: 53px;
  z-index: 1;
}

.index-dropdown-content img {
  display: block;
}

.index-owner-options:hover .index-dropdown-content {
  display: block;
}

.index-drp-item {
  margin: 0px;
  width: 100%;
  background-color: rgb(29, 92, 76);
  border: 0.5px solid rgb(120, 206, 184);
  display: grid;
  grid-template-columns: 0.35fr 1fr;
  text-align: center;
}

.index-drp-item:hover {
  background-color: rgb(19, 73, 60);
}

.index-drp-link {
  text-decoration: none;
  padding: 0px;
}

.index-time {
  margin: 0px;
  margin-top: 7px;
  margin-left: 15px;
  text-align: left;
}

#index-post-title {
  text-align: left;
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
}

#index-body-div {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

.index-opt-txt {
  margin-left: 5px;
  font-size: 15px;
}

#index-delete-item:hover {
  background-color: rgb(105, 18, 18);
}

.index-post-body {
  text-decoration: none;
}

.index-post-link {
  text-decoration: none;
}

.index-post-div-footer {
  display: grid;
  grid-template-columns: 0.35fr 1fr 1fr;
  background-color: rgb(15, 87, 77);

}

.index-like-count {
  font-size: 25px;
  text-align: left;
}

.index-comment-count {
  font-size: 25px;
}

.paginate-pages-div {
  text-align: center;
  font-size: 30px;
  border: 1px solid blue;
  height: fit-content;
}

/* Will_paginate */

.pagination a {
  padding: 15px;
  background-color: rgb(15, 87, 77);
  border-radius: 10px;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
}

.pagination a:hover {
  border: 2px solid white;
  background-color: rgb(11, 51, 46);
}

.current {
  border: 2px solid white;
  padding: 15px;
  background-color: rgb(11, 51, 46);
  border-radius: 10px;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
}

.next_page {
  margin-left: 10px;
  padding: 15px;
  background-color: rgb(15, 87, 77);
  border-radius: 10px;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
}

.next_page:hover {
  background-color: rgb(11, 51, 46);
  color: white;
  border: 2px solid white;
}

.previous_page {
  margin-right: 10px;
  padding: 15px;
  background-color: rgb(15, 87, 77);
  border-radius: 10px;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
}

.previous_page:hover {
  background-color: rgb(11, 51, 46);
  color: white;
  border: 2px solid white;
}

.next_page.disabled {
  display: none;
}

.previous_page.disabled {
  display: none;
}

/* post _form page */
#new-post-form-div {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

#new-post-errors {
  border: 5px solid rgb(129, 61, 61);
  background-color: rgb(112, 0, 0);
  text-align: center;
  margin-bottom: 30px;
}

#post-error-list {
  list-style: none;
}

#flash-post-danger {
  font-size: 20px;
}

.post-errors {
  font-size: 15px;
  color: white;
}

#new-post-form {
  background-color: rgb(11, 51, 46);
}

#new-post-title-field {
  width: 80%;
  height: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: rgb(5, 24, 22);
  border: 3px solid rgb(5, 24, 22);
  color: white;
  padding: 20px;
  font-size: 25px;
}

#new-post-title-field:hover {
  border: 3px solid white;
}

#new-post-body-field {
  width: 80%;
  height: 150px;
  background-color: rgb(5, 24, 22);
  border: 3px solid rgb(5, 24, 22);
  color: white;
  padding: 20px;
  font-size: 18px;
  margin-bottom: 30px;
}

#new-post-body-field:hover {
  border: 3px solid white;
}

#post-new-img-div {
  border: 3px solid rgb(5, 24, 22);
  background-color: rgb(5, 24, 22);
  margin: 0 auto;
  margin-bottom: 30px;
  width: 80%;
  padding: 20px;
}

#post-new-img-div:hover #post-image-field {
  border: 3px solid white;
}

#post-image-field {
  background-color: rgb(5, 24, 22);
  border: 3px solid rgb(5, 24, 22);
  padding: 10px;
}

#post-submit {
  width: 100%;
  font-size: 30px;
  border: 3px solid rgb(5, 24, 22);
  background-color: rgb(5, 24, 22);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

#post-submit:hover {
  border: 3px solid white;
}

.form-post-title {
  background-color: rgb(5, 24, 22);
  border: 3px solid rgb(11, 51, 46);
  text-align: center;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60%;
}

/* Edit user */
.choose-pic {
  color: rgb(173, 173, 173);
}