* {
  font-family: 'Assistant', sans-serif;
  word-wrap: break-word;
}

body {
  background-color: rgb(15, 15, 15);
  margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, a, th, tr, label, li, i, em, span, div {
  color: white;
}

textarea { 
  resize: none; 
}

#bg {
  margin-top: 86px;
}

/* Nav bar */
#navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 7%;
  top: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(15, 87, 77);
  padding: 10px;
  margin: 0px;
}

#nav-avatar {
  margin: 0 auto;
  padding: 0px;
  border: 0px;
}

#quick-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.qlinks {
  margin: 0px;
  text-decoration: none;
}

.qlinks:hover {
  background: rgb(0, 116, 102);
  color: white;
}

.qlinks a {
  text-decoration: none;
  display: block;
}

#nav-new-post {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
}

#plus-pic {
  margin-top: 22px;
  padding-left: 10px;
}

#nav-post-link {
  margin-top: 20px;
  margin-left: 5px;
  text-align: left;
  text-decoration: none;
}

#np-link-do {
  text-decoration: none;
}

#np-link-do:hover {
  background: rgb(0, 116, 102);
  color: white;
}

#profile-nav-links {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2.5fr 1fr;
  text-align: left;
  align-items: center;
}

#nav-user-div {
  position: relative;
  display: inline-block;
}

#user-drp-dwn {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
}

#user-drp-dwn:hover {
  background-color: rgb(30, 136, 122);
}

#user-drp-dwn-content {
  display: none;
  position: absolute;
  background-color: rgb(11, 51, 46);
  min-width: 165px;
  z-index: 2;
}

.user-drp-links {
  font-size: 25px;
  padding: 10px;
}

.user-drp-links:hover {
  color: white;
}

#user-drp-dwn-content a {
  text-decoration: none;
  display: block;
}

#nav-user-div:hover #user-drp-dwn-content {
  display: block;
}

#user-drp-dwn-content a:hover {
  background-color: rgb(30, 136, 122);
}

#nav-pro-pic {
  margin-top: 9px;
  align-items: flex-end;
  margin-left: 10px;
}

#nav-pro-pic img {
  display: block;
  margin-left: auto;
  padding-right: 5px;
}

#logged-as {
  margin-top: 7px;
  padding: 5px;
}

#nav-user-name {
  font-size: 27px;
  text-decoration: none;
  margin-left: 5px;
}

#noti-drp-dwn {
  position: relative;
  display: inline-block;
  margin-top: 15px;
}

#noti-drp-dwn:hover #noti-content {
  display: block;
}

#noti-content {
  display: none;
  position: absolute;
  width: 200px;
  z-index: 2;
  background-color: rgb(11, 51, 46);
  border: 1px solid rgb(107, 194, 168);
}

#noti-content a {
  text-decoration: none;
  display: block;
}

#noti-content a:hover {
  background-color: rgb(22, 102, 93);
  color: white;
}

.noti-link {
  color: white;
  padding: 10px;
  font-size: 20px;
}

/* Notice (flash) */
.notice { 
  width: 100%;
  font-size: 25px;
  background-color: rgb(107, 194, 168);
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0px;
}

.alert {
  width: 100%;
  font-size: 25px;
  background-color: rgb(107, 194, 168);
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0px;
}

/* Post index page */
#index-grid-div {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 70px;
  word-wrap: break-word;
}

.index-post-container {
  background-color: rgb(11, 51, 46);
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 40px;
  height: fit-content;
}

.index-user-info {
  text-align: left;
  display: grid;
  grid-template-columns: 0.1fr 0.3fr 2fr 0.4fr;
  background-color: rgb(15, 87, 77);
  padding: 5px;
}

.index-avatar {
  padding: 0px;
  margin: 0px;
  border: 0px;
  margin-top: 7px;
}

.index-linkto-user {
  text-decoration: none;
  font-size: 20px;
  margin-top: 14px;
}

.index-owner-options {
  margin-top: 7px;
  position: relative;
  display: inline-block;
}

.index-dropdown-content {
  display: none;
  position: absolute;
  min-width: 53px;
  z-index: 1;
}

.index-dropdown-content img {
  display: block;
}

.index-owner-options:hover .index-dropdown-content {
  display: block;
}

.index-drp-item {
  margin: 0px;
  width: 100%;
  background-color: rgb(29, 92, 76);
  border: 0.5px solid rgb(120, 206, 184);
  display: grid;
  grid-template-columns: 0.35fr 1fr;
  text-align: center;
}

.index-drp-item:hover {
  background-color: rgb(19, 73, 60);
}

.index-drp-link {
  text-decoration: none;
  padding: 0px;
}

.index-time {
  margin: 0px;
  margin-top: 7px;
  margin-left: 15px;
  text-align: left;
}

#index-post-title {
  text-align: left;
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
}

#index-body-div {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

.index-opt-txt {
  margin-left: 5px;
  font-size: 15px;
}

#index-delete-item:hover {
  background-color: rgb(105, 18, 18);
}

.index-post-body {
  text-decoration: none;
}

.index-post-link {
  text-decoration: none;
}

.index-post-div-footer {
  display: grid;
  grid-template-columns: 0.35fr 1fr 1fr;
  background-color: rgb(15, 87, 77);

}

.index-like-count {
  font-size: 25px;
  text-align: left;
}

.index-comment-count {
  font-size: 25px;
}

.paginate-pages-div {
  text-align: center;
  font-size: 30px;
  height: fit-content;
}

/* Will_paginate */

.pagination a {
  padding: 15px;
  background-color: rgb(15, 87, 77);
  border-radius: 10px;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
}

.pagination a:hover {
  border: 2px solid white;
  background-color: rgb(11, 51, 46);
}

.current {
  border: 2px solid white;
  padding: 15px;
  background-color: rgb(11, 51, 46);
  border-radius: 10px;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
}

.next_page {
  margin-left: 10px;
  padding: 15px;
  background-color: rgb(15, 87, 77);
  border-radius: 10px;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
}

.next_page:hover {
  background-color: rgb(11, 51, 46);
  color: white;
  border: 2px solid white;
}

.previous_page {
  margin-right: 10px;
  padding: 15px;
  background-color: rgb(15, 87, 77);
  border-radius: 10px;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
}

.previous_page:hover {
  background-color: rgb(11, 51, 46);
  color: white;
  border: 2px solid white;
}

.next_page.disabled {
  display: none;
}

.previous_page.disabled {
  display: none;
}

/* post _form page */
#new-post-form-div {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

#new-post-errors {
  border: 5px solid rgb(129, 61, 61);
  background-color: rgb(112, 0, 0);
  text-align: center;
  margin-bottom: 30px;
}

#post-error-list {
  list-style: none;
}

#flash-post-danger {
  font-size: 20px;
}

.post-errors {
  font-size: 15px;
  color: white;
}

#new-post-form {
  background-color: rgb(11, 51, 46);
}

#new-post-title-field {
  width: 80%;
  height: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: rgb(5, 24, 22);
  border: 3px solid rgb(5, 24, 22);
  color: white;
  padding: 20px;
  font-size: 25px;
}

#new-post-title-field:hover {
  border: 3px solid white;
}

#new-post-body-field {
  width: 80%;
  height: 150px;
  background-color: rgb(5, 24, 22);
  border: 3px solid rgb(5, 24, 22);
  color: white;
  padding: 20px;
  font-size: 18px;
  margin-bottom: 30px;
}

#new-post-body-field:hover {
  border: 3px solid white;
}

#post-new-img-div {
  border: 3px solid rgb(5, 24, 22);
  background-color: rgb(5, 24, 22);
  margin: 0 auto;
  margin-bottom: 30px;
  width: 80%;
  padding: 20px;
}

#post-new-img-div:hover #post-image-field {
  border: 3px solid white;
}

#post-image-field {
  background-color: rgb(5, 24, 22);
  border: 3px solid rgb(5, 24, 22);
  padding: 10px;
}

#post-submit {
  width: 100%;
  font-size: 30px;
  border: 3px solid rgb(5, 24, 22);
  background-color: rgb(5, 24, 22);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

#post-submit:hover {
  border: 3px solid white;
}

.form-post-title {
  background-color: rgb(5, 24, 22);
  border: 3px solid rgb(11, 51, 46);
  text-align: center;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60%;
}

/* show post */
#show-post-comments {
  width: 500px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
}

/* comments _form */
#comment-form {
  background-color: rgb(11, 51, 46);
  margin-bottom: 30px;
}

#post-comment-title {
  padding: 10px;
  background-color: rgb(5, 24, 22);
}

#comment-field {
  width: 85%;
  height: 120px;
  border: 2px solid rgb(5, 24, 22);
  background-color: rgb(5, 24, 22);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 17px;
  margin-bottom: 15px;
}

#comment-field:hover {
  border: 2px solid white;
}

#comment-submit {
  width: 90%;
  padding: 10px;
  border: 2px solid rgb(5, 24, 22);
  background-color: rgb(5, 24, 22);
  color: white;
  margin-bottom: 30px;
  font-size: 20px;
}

#comment-submit:hover {
  border: 2px solid white;
}

.comment-container {
  margin-bottom: 50px;
  background-color: rgb(11, 51, 46);
}

#comment-user-info {
  display: grid;
  grid-template-columns: 0.15fr 1fr 0.2fr;
  background-color: rgb(5, 24, 22);
  text-align: left;
}

.comment-avatar {
  margin-top: 13px;
  margin-left: 7px;
}

.comment-by-name {
  text-decoration: none;
  padding-left: 7px;
  font-size: 20px;
}

#comment-dots {
  margin-top: 13px;
  margin-right: 12px;
  float: right;
  padding: 0px;
}

.comment-body-div {
  word-wrap: break-word;
  padding: 10px;
}
/* Edit comment */
#edit-comment-div {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

#edit-comment-title {
  border: 3px solid rgb(11, 51, 46);
  background-color: rgb(5, 24, 22);
  text-align: center;
  margin: 0 auto;
  margin-top: 190px;
  padding: 15px;
  width: 464px;
}

/* Friend feed */
#title-no-friends {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  margin-top: 350px;
  margin-bottom: 50px;
  font-size: 80px;
  color: white;
}

#no-friends-link {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: fit-content;
  padding: 20px;
  text-decoration: none;
  font-size: 30px;
  background-color: rgb(0, 121, 80);
  border-radius: 100px;
  border: 3px solid rgb(0, 121, 80);
}

#no-friends-link:hover {
  border: 3px solid white;
}

.glow {
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff1100, 0 0 40px #ff1100, 0 0 50px #ff1100, 0 0 60px #ff1100, 0 0 70px #ff1100;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #610101, 0 0 40px #610101, 0 0 50px #610101, 0 0 60px #610101, 0 0 70px #610101, 0 0 80px #610101;
  }
}

/* User index */
#u-index-div {
  margin-top: 100px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#user-index-container {
  background-color: rgb(11, 51, 46);
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  width: 80%;
  height: fit-content;
  margin: 0 auto;
  margin-top: 50px;
}

#u-index-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#u-index-linkto-user {
  font-size: 25px;
  text-decoration: none;
  display: block;
  padding-left: 7px;
  padding-top: 5px;
  background-color: rgb(5, 24, 22);
}
.p-margin {
  margin: 0px;
}

.u-index-fr {
  display: block;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  text-decoration: none;
  border: 3px solid rgb(0, 121, 80);
  background-color: rgb(0, 121, 80);
}

.u-index-fr:hover {
  border: 3px solid white;
}

#u-index-friend {
  height: 100%;
  width: 100%;
  background-color: rgb(97, 0, 0);
  border: 3px solid rgb(97, 0, 0);
  color: white;
  font-size: 20px;
}

#u-index-friend:hover {
  border: 3px solid white;
}

#u-index-pending {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

#u-index-fr-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

#u-index-accept {
  display: block;
  text-decoration: none;
  padding-top: 10px;
  background-color: rgb(20, 131, 25);
  border: 3px solid rgb(20, 131, 25);
  font-size: 17px;
  color: white;
}

#u-index-accept:hover {
  border: 3px solid white;
  color: white;
}

#u-index-decline {
  display: block;
  text-decoration: none;
  padding-top: 10px;
  background-color: rgb(97, 0, 0);
  border: 3px solid rgb(97, 0, 0);
  font-size: 17px;
  color: white;
}

#u-index-decline:hover {
  border: 3px solid white;
  color: white;
}

#au-link img {
  display: block;
}

/* User Show */
#u-show-container {
  margin-top: 150px;
}

#u-show-header {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 40px;
}

#u-info-0 {
  display: grid;
  grid-template-columns: 0.20fr 1fr;
}

#u-info-1 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  word-wrap: break-word;
}

#u-info-1 a {
  text-decoration: none;
}

.u-info-marg {
  margin: 0px;
  padding-left: 20px;
  padding-top: 7px;
  background-color: rgb(15, 87, 77);
}

#u-show-avatar img {
  display: block;
}

#u-show-name {
  background-color: rgb(11, 51, 46);
  font-size: 25px;
  padding-top: 5px;
}

#u-friend-count {
  text-decoration: none;
  margin: 0px;
  border: 2px solid rgb(15, 87, 77);
  padding-bottom: 7px;
}

#u-friend-count:hover {
  background-color: rgb(10, 65, 57);
  border: 2px solid white;
}

#u-bio-div {
  word-wrap: break-word;
}

#u-bio-div a {
  text-decoration: none;
  display: block;
}

#bio-title {
  text-align: center;
  margin: 0px;
  background-color: rgb(11, 51, 46);
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 20px;
}

#u-bio {
  background-color: rgb(15, 87, 77);
  margin: 0px;
  padding: 15px;
}

#u-edit {
  background-color: rgb(11, 51, 46);
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 20px;
  text-align: center;
  border: 2px solid rgb(11, 51, 46);
}

#u-edit:hover {
  border: 2px solid white;
}

#u-show-friend-status a {
  display: block;
  text-decoration: none;
}

#u-show-req-opt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

#u-show-req-opt a {
  display: block;
  text-decoration: none;
}

#u-show-accept {
  padding: 10px;
  background-color: rgb(20, 131, 25);
  border: 2px solid rgb(20, 131, 25);
}

#u-show-accept:hover {
  border: 2px solid white;
}

#u-show-decline {
  padding: 10px;
  background-color: rgb(97, 0, 0);
  border: 2px solid rgb(97, 0, 0);
}

#u-show-decline:hover {
  border: 2px solid white;
}

#u-show-fr {
  padding: 10px;
  background-color: rgb(0, 121, 80);
  border: 2px solid rgb(0, 121, 80);
  text-align: center;
  font-size: 25px;
}

#u-show-fr:hover {
  border: 2px solid white;
}

#u-show-pending {
  margin: 0px;
  padding: 15px;
  background-color: rgb(11, 51, 46);
  text-align: center;font-size: 20px;
}

#u-show-unfriend {
  background-color: rgb(0, 121, 80);
  border: 2px solid rgb(0, 121, 80);
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

#u-show-unfriend:hover {
  border: 2px solid white;
  background-color: rgb(97, 0, 0);
}

#u-show-posts-div {
  width: 500px;
  margin: 0 auto;
}

#no-posts-au {
  background-color: rgb(5, 24, 22);
  border-radius: 20px;
  margin: 0px;
  text-align: center;
  padding: 15px;
  font-size: 30px;
}

#no-posts-owner {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#u-no-posts-title {
  background-color: rgb(11, 51, 46);
  margin: 0px;
  font-size: 25px;
  padding-top: 18px;
}

#u-no-posts {
  background-color: rgb(0, 121, 80);
  margin: 0px;
  text-align: center;
  padding: 15px;
  font-size: 30px;
  text-decoration: none;
  border: 3px solid rgb(0, 121, 80);
}

#u-no-posts:hover {
  border: 3px solid white;
}

/* Friend list */
#add-frd-frd-list {
  display: block;
  text-align: center;
  text-decoration: none;
  width: fit-content;
  font-size: 30px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 100px;
  background-color: rgb(0, 121, 80);
  border: 3px solid rgb(0, 121, 80);
}

#add-frd-frd-list:hover {
  border: 3px solid white;
}

#frd-list-pend {
  border: 3px solid rgb(15, 15, 15);
  background-color: rgb(5, 24, 22);
  text-align: center;
  width: fit-content;
  padding: 20px;
  margin: 0 auto;
}

/* Edit user */
.choose-pic {
  color: white;
}

#u-edit-div {
  text-align: center;
  margin-top: 150px;
}

#gen-edit {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

#gen-edit1 {
  display: grid;
  grid-template-rows: 1fr 0.20fr;
}

#u-edit-show-avatar img {
  display: block;
}

#edit-avatar {
  border: 1px solid rgb(0, 121, 80);
  background-color: rgb(0, 121, 80);
  border: 3px solid rgb(0, 121, 80);
  width: fit-content;
  padding: 10px;
  margin: 0px;
}

#edit-avatar:hover {
  border: 3px solid white;
}

#edit-bio-field {
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: rgb(11, 51, 46);
  height: 307px;
  display: grid;
  grid-template-rows: 0.20fr 1fr;
}

#bio-label {
  font-size: 25px;
  width: 100%;
  padding-top: 10px;
  background-color: rgb(5, 24, 22);
}

#bio-text-field {
  background-color: rgb(5, 24, 22);
  border: 3px solid rgb(5, 24, 22);
  color: white;
  height: 200px;
  width: 90%;
  padding: 7px;
  margin: 0 auto;
  margin-top: 15px;
}

#bio-text-field:hover {
  border: 3px solid white;
}

#gen-edit3 {
  width: 50%;
  margin: 0 auto;
  background-color: rgb(11, 51, 46);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding-top: 30px;
  padding-bottom: 15px;
}

#edit-name-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input-edit-fields1 {
  background-color: rgb(5, 24, 22);
  color: white;
  border: 2px solid rgb(5, 24, 22);
  width: 80%;
  font-size: 20px;
  padding: 7px;
}

.input-edit-fields1:hover {
  border: 2px solid white;
}

.input-edit-fields2 {
  background-color: rgb(5, 24, 22);
  color: white;
  border: 2px solid rgb(5, 24, 22);
  width: 90%;
  font-size: 20px;
  padding: 7px;
}

.input-edit-fields2:hover {
  border: 2px solid white;
}

.u-e-label {
  font-size: 20px;
}

#p-conf-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#u-updt-submit {
  border: 3px solid rgb(0, 121, 80);
  width: 50%;
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(0, 121, 80);
  color: white;
}

#u-updt-submit:hover {
  border: 3px solid white;
}

#cancel-account {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  margin-bottom: 90px;
}

#unhappy {
  background-color: rgb(5, 24, 22);
  margin: 0px;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#cancel-acc-btn {
  height: 100%;
  width: 100%;
  font-size: 20px;
  color: white;
  background-color: rgb(0, 121, 80);
  border: 3px solid rgb(0, 121, 80);
}

#cancel-acc-btn:hover {
  border: 3px solid white;
  background-color: rgb(97, 0, 0);
}

/* Friend request notifications page */
#fr-container {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 150px;
}

#fr-div {
  background-color: rgb(11, 51, 46);
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 40px;
}

#fr-div a {
  display: block;
  text-decoration: none;
}

#noti-avatar {
  display: block;
  margin-right: auto;
}

#fr-name {
  background-color: rgb(11, 51, 46);
  display: grid;
  grid-template-columns: 0.09fr 1fr;
}

#fr-name-text {
  margin: 0px;
  margin-top: 7px;
  text-align: left;
}

#noti-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#noti-accept {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(20, 131, 25);
  border: 3px solid rgb(20, 131, 25);
  color: white;
  font-size: 25px;
}

#noti-accept:hover {
  border: 3px solid white;
}

#noti-decline {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(97, 0, 0);
  border: 3px solid rgb(97, 0, 0);
  color: white;
  font-size: 25px;
}

#noti-decline:hover {
  border: 3px solid white;
}

/* Sign up */
#sign-up-container {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  margin-top: 150px;
}

#sign-up-title {
  margin: 0px;
  background-color: rgb(5, 24, 22);
  padding-bottom: 15px;
  padding-top: 15px;
}

#s-u-email {
  width: 93%;
  height: 50px;
  background-color: rgb(5, 24, 22);
  color: white;
  border: 2px solid rgb(5, 24, 22);
  font-size: 20px;
}

#sign-up-fields {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-bottom: 40px;
  background-color: rgb(11, 51, 46);
}

.sign-up-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 100%;
}

.s-u-fields {
  width: 85%;
  background-color: rgb(5, 24, 22);
  color: white;
  border: 2px solid rgb(5, 24, 22);
  font-size: 20px;
  height: 50px;
}

#s-u-submit {
  width: 93%;
  background-color: rgb(0, 121, 80);
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px;
  color: white;
  border: 3px solid rgb(0, 121, 80);
  margin-top: 0px;
  margin-bottom: 40px;
}

#s-u-submit:hover {
  border: 3px solid white;
}

/* #log-in-options {

} */

#log-in-options a {
  display: block;
  text-decoration: none;
}

#login-in-link {
  border: 3px solid rgb(0, 121, 80);
  font-size: 20px;
  padding: 20px;
  font-size: 20px;
  background-color: rgb(0, 121, 80);
}

#login-in-link:hover {
  border: 3px solid white;
}

#f-login {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  background-color: rgb(24, 119, 242);
  border: 3px solid rgb(24, 119, 242);
  padding: 10px;
  font-size: 20px;
}

#f-login:hover {
  border: 3px solid white;
}

#f-logo {
  margin-left: auto;
}

#f-text {
  margin: 0px;
  margin-left: 8px;
  margin-top: 8px;
  text-align: left;
  font-size: 25px;
}

#recon-link {
  background-color: rgb(11, 51, 46);
  border: 3px solid rgb(11, 51, 46);
  font-size: 25px;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 70px;
}

#recon-link:hover {
  border: 3px solid white;
}