* {
  font-family: 'Assistant', sans-serif;
}

body {
  background-color: rgb(15, 15, 15);
  margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, a, th, tr, label, li {
  color: rgb(173, 173, 173);
}

/* Nav bar */
#navbar {
  position: fixed;
  width: 100%;
  height: 10%;
  top: 0px;
  display: grid;
  grid-template-columns: 1fr 0.20fr;
  background-color: rgb(15, 87, 77);
  padding: 10px;
  margin: 0px;
}

#navbar:hover {
  opacity: 50%;
}

#logged-status {
  padding-right: 25px;
  text-align: right;
}

#bg {
  margin-top: 115px;
}

/* Notice (flash) */
.notice { 
  width: 100%;
  font-size: 25px;
  background-color: rgb(107, 194, 168);
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0px;
}

.alert {
  width: 100%;
  font-size: 25px;
  background-color: rgb(107, 194, 168);
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0px;
}

/* Post index page */
.test-link {
  font-size: 50px;
}