<div>
  <h1><a href=<%= posts_path %>>Odin Book</a></h1>
  <% if user_signed_in? %>
    <h3>Signed in as: <%= current_user.email %></h3>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <% else %>
    <a href=<%= new_user_session_url %>>Sign in</a>
  <% end %>
</div>